In [88]:
import pandas as pd
import datetime as dt

In [95]:
df = pd.DataFrame({'date': [], 'agg_seizure': []})

In [96]:
it = 0

def inputs() :
    s = pd.to_datetime(input('yyyymm or exit: '), format='%Y%m')
    d = float(input('매스암페타민(필로폰, 히로뽕) 압수량 or exit: '))
    return(pd.DataFrame({'date': [s], 'agg_seizure': [d]}))

def run(a) :
    df = a
    it = 0
    while it == 0 :
        try :
            idx = inputs()
            print(idx)
            df = pd.concat([df, idx], ignore_index = True)
        except Exception as e :
            print(e)
            it = 1
    return(df)

In [97]:
df

Empty DataFrame
Columns: [date, agg_seizure]
Index: []

In [ ]:
df = run(df)
df

yyyymm or exit:  200110
매스암페타민(필로폰, 히로뽕) 압수량 or exit:  75000

        date  agg_seizure
0 2001-10-01      75000.0

C:\Users\injae\AppData\Local\Temp\ipykernel_26060\2525856044.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, idx], ignore_index = True)

yyyymm or exit:  200111
매스암페타민(필로폰, 히로뽕) 압수량 or exit:  166000

        date  agg_seizure
0 2001-11-01     166000.0

yyyymm or exit:  200112
매스암페타민(필로폰, 히로뽕) 압수량 or exit:  170000

        date  agg_seizure
0 2001-12-01     170000.0

In [93]:
df

        date  agg_seizure
0 2001-10-01         75.0
1 2001-11-01        166.0
2 2001-12-01        170.0

In [75]:
df.to_csv('KRMethSeizure')

        date  seizure
0 2024-01-01    123.0
1 2024-02-01    125.0
2 2024-03-01    126.0

이 자료는 각 년도별 1월 부터 해당 월까지의 압수량을 합산한 데이터임  
따라서 이전 기에서 현재 기를 뺀 값이 실제 해당 월의 압수량임.  
즉 2001년 2월의 압수량은 2024-02-01의 agg_seizure값의 이전 기 대비 증가량임.  
이러한 전처리 필요함  
단위는 g임(2001년은 kg였음. 변환 필요)